/* ADD STUFF BACK */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  margin: 20px;
}

.class-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.class-card {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.class-card h3 {
  margin: 0;
}

.class-card ul {
  list-style-type: none;
  padding: 0;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
}

.character-button{
  margin-bottom: 4px;
}

.class-card.greyed-out {
  opacity: 0.5; /* Greyed-out effect */
  pointer-events: none; /* Disable interactions */
}

